/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  background-image: url('https://th.bing.com/th/id/R.84ae60fcae6fd9f16c36e745676e6752?rik=0bBhy8CL%2bmxtZw&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fGTrby6G.jpg&ehk=eqVeTLl4%2b%2f38QuCaxbE3LyI3M65fD7T5gtaz%2b4baVt8%3d&risl=&pid=ImgRaw&r=0');
  background-color: deepskyblue;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease;
}

p {
  font-weight: bold;
  color: rgb(242, 241, 241);
}

/* Hero Section */
.hero {
  background: linear-gradient(#32a852, #1f7d40);
  color: white;
  text-align: center;
  padding: 2rem 1rem;

  clip-path: polygon(6% 10%, 92% 10%, 100% 100%, 0% 100%);
  text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
  transition: all 0.4s ease;
}

.hero h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  margin-bottom: 1rem;
}

.hero p {
  font-size: clamp(1rem, 3vw, 1.2rem);
  margin-bottom: 2rem;
}

/* Section with Buttons */
.section .container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.section button {
  background: #27ffdd;
  padding: 0.4rem;
  border: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: bold;

  transition: background 0.3s, transform 0.3s, box-shadow 0.3s ease;
}

.section button:hover {
  color: white;
  background: linear-gradient(120deg, #0fb0f5, #ffe405);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.25);
}

/* Main Content */
main {
  flex: 1;
}

/* Footer */
footer {
  background: #1f7d40;
  color: white;
  text-align: center;
  padding: 0.5rem 0;
}

.footer {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10rem;
}

footer p {
  font-size: clamp(0.8rem, 2vw, 0.9rem);
}

/* Responsive Design */
@media (max-width: 600px) {
  .hero {
    padding: 1.5rem 0.5rem;
  }

  .section button {
    width: 8px;
    height: 80px;
    font-size: 1.2rem;
  }
}
